snippet snip "Create snippet"
snippet ${1:trigger} "${2:description}"
${0:${VISUAL}}
`echo endsnippet`
endsnippet

snippet osnip "Create snippet with options"
snippet ${1:trigger} "${2:description}" ${3:options}
${0}
`echo endsnippet`
endsnippet

snippet v "Insert VISUAL"
$0`echo \${VISUAL}`
endsnippet

